


<!--Start Page-->

<section class="profile" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active" aria-current="page">ahmed</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"><!-- Left side -->
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="/images/person_1.jpg" alt="ahmed" class="rounded-circle img-fluid user-avatar">
                        <h5 class="my-3">ahmed</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">admin@outlook.com</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-main m-1">Follow</button>
                            <button type="button" class="btn btn-outline-main ms-1 m-1">Message</button>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">@mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fa fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8"><!-- right side -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="">My Details</h4>
                            <a href="Edit_information.php" class="btn waves-effect waves-light btn-main position-right"> Edit <i class="fa fa-edit text-primary"></i> </a>
                        </div>
                        <table class="table border text-left">
                            <tr>
                                <td><i class="fa fa-lock fa-fw"></i> Login Name</td>
                                <td>ahmed</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-envelope-o fa-fw"></i> Email</td>
                                <td>admin@outlook.com</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-calendar fa-fw"></i> Register Date</td>
                                <td>2022-11-18</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-user fa-fw"></i> Full Name</td>
                                <td>Ahmed Ali Mohammed</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-tags fa-fw"></i> Fav Category</td>
                                <td>Ahmed Ali Mohammed</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class="card mb-4 mt-4">
                    <div class="card-body text-center">
                        <div class="card-header">
                            <h4 class="">My Products</h4>
                            <a href="Create_product.php" class="btn waves-effect waves-light btn-main btn-square position-right"> Create New <i class="fa fa-plus text-primary"></i> </a>
                        </div>
                        <table class="table border text-center">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>price</th>
                                <th>created in</th>
                                <th>Category</th>
                                <th>Status</th>
                                <th>Rating</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="product-details.php?product_id=49">Colt Wooten</a></td>
                                    <td>39</td>
                                    <td>2022-12-09</td>
                                    <td>Cars</td>
                                    <td>
                                        <label class="label label-danger">Approving</label>
                                        <!-- <label class="label label-success">In Stock</label>-->
                                    </td>
                                    <td>
                                        <i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-default"></i><i class="fa fa-star f-12 text-default"></i>                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="product-details.php?product_id=48">Convertible</a></td>
                                    <td>478</td>
                                    <td>2022-12-09</td>
                                    <td>Cars</td>
                                    <td>
                                        <label class="label label-danger">Approving</label>
                                        <!-- <label class="label label-success">In Stock</label>-->
                                    </td>
                                    <td>
                                        <i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-c-yellow"></i><i class="fa fa-star f-12 text-default"></i>                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--End Page-->
